@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
)
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
/*ading animation for header*/
.text1{
	animation:text 3s 1;
}
@keyframes text {
	0%{
		color:black;
		margin-bottom: -40px;
	}
	30%{
		letter-spacing: 25px;
		margin-bottom:-40px;
	}
	85%{
		letter-spacing: 8px;
		margin-bottom: -40px;
	}
}
/**animation ends here**/
.logo{
  padding-top: 2px;
  width: 65px;
	height:65px;
	border-radius: 50%;
	padding-left: 2px;
}
/*FIXED ICONS*/
.icon-bar {
	position: sticky;
	top: 55%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	z-index: 10;
}

#a4 {
	text-decoration: none;
	width: 210px;
	background: #3b5999;
	color: #fff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
  padding: 5px;

	font-size: 20px;
	transform: translateX(-170px);
	-webkit-transform: translateX(-170px);
	-ms-transform: translateX(-170px);
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
}

 .facebook, .twitter, .instagram, .reddit, .linkedin{
  background: #3b5998 !important;
  width: 200px !important;
  height: 40px;
}
.fa-facebook, .fa-twitter, .fa-instagram,.fa-linkedin,.fa-reddit{
  font-size: 30;
  margin-left: 7%;
}

 .twitter {
	background: #00aced !important;
}

 .instagram {
	background: #e4405f !important;
}

 .reddit {
	background: #cd201f !important;
}

.linkedin {
	background: #0077B5 !important;
}


#a4 i {
	padding-left: 20px;
	font-size: 50px !important;
	animation: letszoom 3s linear alternate-reverse infinite;
}

@keyframes letszoom {
	from {
		transform: scale(0.8);
	}

	to {
		transform: scale(1);
	}

}

#a4:hover {
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
}

/**sticky socail icons*/
/*************navbar css starts*************/
nav{
  position: fixed;
  display: flex;
  height: 85px;
  width: 90%;
  background: orange;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.fa-bars{
  display: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li #a1{
  color: #f8e8e8;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li #a1.active,
nav ul li #a1:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
    z-index: 999;
    width: 70vw;


  }
  .icon-bar{
    display: none;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
    background-color: blanchedalmond;


  }
  .fa-bars{
    display: block;
  }


  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    position: fixed;
    left: -20px;
}
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li #a1{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li #a1{
    margin-left: -50px;
  }
  nav ul li #a1.active,
  nav ul li #a1:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;

  color: #cec2c2 !important;
}
.content div{
  font-size: 40px;
  font-weight: 700;
  color: #cec2c2 !important;

}
/*************navbar css ends**************/
html {
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  background-color:black;
  transform-style: preserve-3d;
	perspective: 1px;
  height: 100%;
  overflow-x: hidden;
  font-family: Nunito;
  color: white !important;
}

.wrapper{
   width: 100vw !important;
   padding: 3%;
   background-color: rgb(22, 24, 49);
   text-align: center;
   border-radius: 4px;
   font-size: 3em;
   position: relative;
   bottom: 10%;
   font-family:Audiowide;

  }
.wrapper h1{
  font-weight: 200;
  color:orange;
 position: relative;
 right: 100px;
}
.wrapper h2{
  font-weight: 30 !important;
  font-size: 40;
  color: white;
  position: relative;
  right: 100px;
}
@media (max-width:600px) {
.wrapper{
font-size: 1.1em;
width: fit-content;

}
.wrapper h2{
  position: relative;
  left:-8px;
  font-size: 25;
  padding: 3%;
}
.wrapper h1{
  position: relative;
  left:-8px;
	margin:45%;

}
}
.content-heading-1{
    font-size: 1.3em;
    position: relative;
    left: 10%;
    top:25%;
}
.content-heading-2{
    font-size: 1.3em;
    position: relative;
    right: -60%;
    top:25%;
}
@media (max-width:600px) {
.content-heading-1{
    font-size: 0.7em;
    position: relative;
    left: 17%;
    padding: 3% !important;
    top: 1%;

}
.main-wrapper{
  position: relative;
  top: 12%;
}
}
@media (max-width:600px) {
.content-heading-2{
    font-size: 0.7em;
    position: relative;
    left: 17%;
    padding: 3% !important;
    top: 30px;

}
}

@media (max-width:775px) {
.content-a{
    text-align: justify;
    width: 270px !important;
    padding:2%;
    left: 10% !important;
    margin-top: 25%;
    bottom: 20%;
}
}

@media (max-width:775px) {
.content-b{
    text-align: justify;
    width: 270px !important;
    padding:2%;
    left: 10% !important;
}
.margin-custom-2{
  margin-top: 150%;
}
.margin-custom-3{
  position: relative;
  top: 450px;

}
}
.content-a{
    padding-left: 3%;
    padding-right: 3%;
    text-align: justify;
    position: relative;
    width: 500px;
    left: 800px;
    bottom: 20%;
    margin-bottom: 7%;
    color: #cec2c2 !important;
    font-family: Montserrat;


}
.content-a p, .content-b p{

  color: rgb(173, 173, 173);
}
.content-b{
    padding-left: 3%;
    padding-right: 3%;
    text-align: justify;
    position: relative;
    width:500px;
    left:14%;
    font-family: Montserrat;

    margin-bottom: 10%;

}
.sturdy-image{
  width: 500px;
  position: relative;
  right: 3%;
	-webkit-box-shadow: 0 15px 10px rgb(58, 54, 54);
      -moz-box-shadow: 0 15px 10px rgb(90, 86, 86);
      box-shadow: 0 15px 10px rgb(14, 13, 13);
}
.planet-image{
  width: 500px;
  position: relative;
  left: 2%;
	-webkit-box-shadow: 0 15px 10px rgb(58, 54, 54);
      -moz-box-shadow: 0 15px 10px rgb(90, 86, 86);
      box-shadow: 0 15px 10px rgb(14, 13, 13);

}
.spacey-image{
  width: 500px;
  position: relative;
  left: 120%;
  top:300px;
	-webkit-box-shadow: 0 15px 10px rgb(58, 54, 54);
      -moz-box-shadow: 0 15px 10px rgb(90, 86, 86);
      box-shadow: 0 15px 10px rgb(14, 13, 13);

}
.buttons{
    margin-top: 5px;
    padding-right: 3%;
}
@media (max-width:1000px) {
a{
    width: fit-content;
    font-size: 0.6em;

}
.sturdy-image{
  width: 250px;
  margin-bottom: 8%;
}
.planet-image{
  width: 250px;
  margin-bottom: 8%;
  position: relative;
  left: -6%;
  top: 3px;

}
.spacey-image{
  width: 250px;
  margin-bottom: 8%;
  position: relative;
  left: 4%;
  top: 20px;
}
p {
  font-size: 90% !important;
  line-height: 150%;
  color: #333;
}
}
.heading{
    text-align: center;
    margin-top: 5%;

}

}
.container{
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  /* @media (max-width:768px) {
      .container, .card::before, .card , .card-image, .content, .content-card, .number-card{
          display: none !important;
      }
  } */

  .container .card {
    position: relative;
    top: 5vh;
    left: 21vw;
    width: 300px;
    height: 400px;
    background: #0c002b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    overflow: hidden;
  }


h1 {
   font-size: 250%;
}

p {
  font-size: 130%;
  line-height: 150%;
  color: #333;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
}
@media (max-width:600px) {
  .slide{
    width:fit-content;
    height: 200px !important;
    margin: auto;
    margin-top: 4% !important;
    font-size: 10;

  }
}
@media (max-width:600px) {
  .wrap-parallax{
    width:fit-content;
    height: 400px;
    margin: auto;
    margin-top: 6% !important;
  }
}
#image-1{
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}
@media (max-width:600px) {
  #image-1{
    width:100px;
    height:90px;
    margin: auto;
    margin-top: 6% !important;
    border-radius: 5px;
  background: rgba(240, 230, 220, 0.39);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  }
  .title{
    position: relative;
    bottom: 20%;
  }
}
#image-1:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
}

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {
  background-image: url("https://lorempixel.com/640/480/abstract/6/");
  z-index:2;
}

#title h1 {
 transform: translateZ(.25px) scale(.75);
 transform-origin: 50% 100%;
 text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue!important;

}

#slide2 {
  margin-top: 4%;
  background-image: url("https://img5.goodfon.com/wallpaper/nbig/3/9c/space-planet-landscape-wallpapers-1920-x-1080.jpg");
  background-position:center;
}
/*specifications     */
.specs{
	font-size: 250%;
	text-align: justify;
}
/*table ka Css*/
table {
  width: 50%;
  border-collapse: collapse;
	transform: scale(1);
	transition: 0.5s;

}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td, th {
		border-bottom: 1px solid black;
  padding: 6px;
  /*border: 1px solid #ccc;*/
  text-align: left;

}
/* #slide3:before {
  background-image: url("https://lorempixel.com/640/480/abstract/5/");
  transform: translateZ(-1px) scale(2);
}

#slide4 {
  background: #222;
} */
#footer {
	margin:50px;
  height: 230px;
  position: relative;
  border-width: 5px;
  border-style: solid;
  border-image:
    linear-gradient(
      to bottom,
      rgb(53, 85, 146),
      rgba(0, 0, 0, 0)
    ) 1 100%;
  background-color: rgba(9, 17, 7, 0.473);
  }
  .clearfooter {
    height: 330px;
    clear: both;
    }

    .container{
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .container .card{
      position: relative;
      width: 400px;
      height: 600px;
      left: 1%;
      background: #0c002b;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px;
      box-shadow: 0 20px 50px rgba(0,0,0,0.2);
      overflow: hidden;
    }
    .container:hover .card{
      opacity: 0.2;
    }
    .container .card:hover{
      opacity: 1;
    }
    .container .card::before{
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      height: 50%;
      background: rgba(255,255,255,0.1);
      pointer-events: none;
    }
    .container .card .content{
      padding: 30px;
      text-align: center;
    }
    .container .card .content h2{
      position: absolute;
      right: 30px;
      font-size: 4em;
      font-weight: 800;
      color: #1779ff;
      z-index: 1;
      opacity: 0.1;
      transition: 0.5s;
    }
    .container .card:hover .content h2{
      opacity: 1;
      transform: translateY(-70px);
      z-index: 0;
    }
    .container .card .content h3{
      position: relative;
      font-size: 1.5em;
      color: #fff;
      z-index: 2;
      opacity: 0.5;
      letter-spacing: 1px;
      transition: 0.5s;
    }
    .container .card .content p{
      position: relative;
      font-size: 1em;
      color: #fff;
      z-index: 2;
      opacity: 0.5;
      font-weight: 300;
      letter-spacing: 1px;
      transition: 0.5s;
    }
    .container .card:hover .content h3,
    .container .card:hover .content p{
      opacity: 1;

    }
    .container .card .content a{
      display: relative;
      margin-top:200px;
      padding: 10px 15px;
      background: #fff;
      color: #0c002b;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
    }
    .container .card span{
      transition: 0.5;
      opacity: 0;
    }
    .container .card:hover span{
      opacity: 1;
    }
    .container .card span:nth-child(1){
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: linear-gradient(to right,transparent,#1779ff);
      animation: animate1 2s linear infinite;
    }
    @keyframes animate1 {
      0%{
        transform: transla teX(-100%);
      }
      100%{
        transform: translateX(100%);
      }
    }
    .container .card span:nth-child(2){
      position: absolute;
      top: 0;
      right: 0;
      width: 3px;
      height: 100%;
      background: linear-gradient(to bottom,transparent,#1779ff);
      animation: animate2 2s linear infinite;
      animation-delay: 1s;
    }
    @keyframes animate2 {
      0%{
        transform: translateY(-100%);
      }
      100%{
        transform: translateY(100%);
      }
    }
    .container .card span:nth-child(3){
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: linear-gradient(to left,transparent,#1779ff);
      animation: animate3 2s linear infinite;
    }
    @keyframes animate3 {
      0%{
        transform: translateX(100%);
      }
      100%{
        transform: translateX(-100%);
      }
    }
    .container .card span:nth-child(4){
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background: linear-gradient(to top,transparent,#1779ff);
      animation: animate4 2s linear infinite;
    }
    @keyframes animate4 {
      0%{
        transform: translateY(100%);
      }
      100%{
        transform: translateY(-100%);
      }
    }
  .content-card{
    padding: 1%;
    position: relative;
    top: 30px;
    z-index:0;
    font-size: 1em !important;
    text-align: justify;
    padding: 4%;

  }
  .card-image{
    width: 250px;
    position: relative;
    top:10px;
    z-index: -5;
  }
  .button-card{
    position: relative;
    top: 30px ;
    width: 100px ;
    left: 35%;



  }
  .number-card{
    position: relative;
    z-index: 99;
    top: 10px;
    color: rgb(236, 230, 230) !important;
  }
  .content{
    z-index: 999;

  }
  .content-card h3{
    position: relative;
    bottom: 250px;
    right:-4%;
    font-size: 1.6em !important;
  }
  .content-card p{
    position: relative;
    top: -50px;
    font-family: Montserrat;
  }
	/*styling footer begins here**********************************/
	footer{
	  /*position: fixed;*/
	  bottom: 0px;
	  width: 100%;
	  background: #111;
    padding-top: 20px;
    margin-top: 10%;
    height: min-content;
    color: rgba(255, 255, 255, 0.521);
	}
	.footer_usage_main{
	  display: flex;
	}
	.footer_usage_main .box{
	  flex-basis: 50%;
	  padding: 10px 20px;
	}
	.box h2{
	  font-size: 1.125rem;
	  font-weight: 600;
	  text-transform: uppercase;
	}
	.box .usage{
	  margin: 20px 0 0 0;
	  position: relative;
	}
	.box .usage:before{
	  position: absolute;
	  usage: '';
	  top: -10px;
	  height: 2px;
	  width: 100%;
	  background: #1a1a1a;
	}
	.box .usage:after{
	  position: absolute;
	  usage: '';
	  height: 2px;
	  width: 15%;
	  background: #f12020;
	  top: -10px;
	}
	.left .usage p{
    text-align: justify;
    color:rgba(255, 255, 255, 0.616);
    font-weight: 100;
    font-size: 14;
	}
	.left .usage .social{
	  margin: 20px 0 0 0;
	}
	.left .usage .social a{
	  padding: 0 2px;
	}
	.left .usage .social a span{
	  height: 40px;
	  width: 40px;
	  background: #1a1a1a;
	  line-height: 40px;
	  text-align: center;
	  font-size: 18px;
	  border-radius: 5px;
	  transition: 0.3s;
	}
	.left .usage .social a span:hover{
    background-color: #f12020;

	}
  .center .usage #hovercheck {
	  /*font-size: 1.4375rem;*/
	  background-color: #1a1a1a;
	  height: 40px;
	  width: 40px;
	  line-height: 30px;
	  text-align: center;
	  border-radius: 50%;
	  transition: 0.3s;
	  cursor: pointer;
  }

	.center .usage #hovercheck:hover{
    background-color: #f12020;
    width: 50px;
    height: 50px;

	}
	.center .usage .text{
	  font-size: 1rem;
	  font-weight: 500;
	  padding-left: 10px;
	}
	.center .usage .phone{
	  margin: 15px 0;
	}
	.right form .text{
	  font-size: 1.0625rem;
	  margin-bottom: 2px;
	  color: #656565;
	}
	.right form .msg{
	  margin-top: 10px;
	}
	.right form input, .right form .msgForm{
	  width: 100%;
	  font-size: 1.0625rem;
	  background: #fff;
	  padding-left: 10px;
	  border: 1px solid #222222;
	}
	.right form input:focus,
	.right form .msgForm:focus{
	  outline-color: #3498db;
	}
	.right form input{
	  height: 35px;
	}
	.right form .btn{
	  margin-top: 10px;
	}
	.right form .btn button{
	  height: 40px;
	  width: 100%;
	  border: none;
	  outline: none;
	  background: #f12020;
	  font-size: 1.0625rem;
	  font-weight: 500;
	  cursor: pointer;
	  transition: .3s;
	}
	.right form .btn button:hover{
	  background: green;
	}
	.bottom center{
	  padding: 5px;
	  font-size: 0.9375rem;
	  background: #151515;
	}
	.bottom center span{
	  color: #656565;
	}
	.bottom center a{
	  color: #f12020;
	  text-decoration: none;
	}
	.bottom center a:hover{
	  text-decoration: underline;
	}
	@media screen and (max-width: 900px) {
	  footer{
	    position: relative;
	    bottom: 0px;
	  }
	  .footer_usage_main{
	    flex-wrap: wrap;
	    flex-direction: column;
	  }
	  .footer_usage_main .box{
	    margin: 5px 0;
	  }
	}
/*footer design*/

/*footer design*/
.info-table{
  margin-left: 25%;
  margin-bottom: 10%;
  color: #0077B5;
  border-radius: 4px;
  font-size: 1.2em;
  font-family: Montserrat;
  padding: 4%;
}
.info-table td{
  color:black;
  background-color: rgb(255, 255, 255);
  padding: 1%;
  width: 3%;

}
.row-name{
  font-weight: bold;
  font-size: 1em;
  width: 5%;
}
.specs{
  text-align: center;
  margin-bottom: 8%;
}
@media screen and (max-width: 900px) {
  .info-table{
    width: 7%;
    margin: auto;
    font-size: 1em;

  }
  .info-table td{

  }
  .info-table table{
}
